.banner {
  width: 100%;
  height: 25rem;
  object-fit: cover;
}

.postTitle {
  margin-top: 5rem;
  font-size: 3rem;
  font-weight: 700;
  color: var(--title);
}

.contentContainer {
  margin: 4rem auto;
}

.content {
  margin-top: 2rem;
  line-height: 1.5rem;
  text-align: justify;

  h2 {
    margin-bottom: 1rem;
  }

  p + p {
    margin-top: 1rem;
  }

  ul + p {
    margin-top: 1rem;
  }

  ul {
    margin-top: 1rem;
    list-style-position: inside;
  }
}

.predictPosts {
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 auto;
  justify-content: space-between;

  border-top: 1px solid rgba(#d7d7d7, 10%);

  margin-top: 2rem;
  padding: 4rem 0;

  .postItem {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    font-size: 1.1rem;
    a {
      color: #ff57b2;
      font-weight: bold;
      font-size: 1rem;
    }
    &.prev {
      text-align: left;
    }
    &.next {
      text-align: right;
    }
  }
}
