.container {
  width: 100%;
  max-width: 700px;
  height: 7em;

  margin: 0 auto;
}

.contentContainer {
  display: flex;
  align-items: center;
  height: 100%;
}

.headerTitle {
  margin-left: 1em;
  color: #f8f8f8;

  span {
    color: #f956b2;
    margin-left: 0.25em;
  }
}
